<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>изменение статуса заказа</title>
</head>
<body>
    <p>изменение статуса заказа id={{order.id}}</p>
    <form action="" method="post">
        <label for="">статус заказа: <input type="text" name="status"></label><br>
        <input type="submit" value="изменить статус">
    </form>
</body>
</html>