<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>создать пункт выдачи</title>
</head>
<body>
    <form action="/admin/createPoint" method="post">
    <label for="">adress:</label><input type="text" name="adress"><br>
    <input type="submit" value="отправить">
    </form>
</body>
</html>