<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>создать пост</title>
</head>

<body>
    <h1 style="text-align: center;">создать пост</h1>
    <form action="/admin/createPost" method="post">
        <label for="">заголовок:<input type="text" name="title"></label><br>
        <label for="">текст:<input type="text" name="text"></label><br>
        <label for="">картинка поста (необязательно):</label><input type="text" name="img"><br>
        {{!-- <label for="">картинка поста (необязательно):<input type="file" name="img"></label><br> --}}
        <input type="submit" value="отправить">
    </form>
</body>

</html>