<footer id="footer">
    <section>
        <h2>MangaMyLife - манга Дзюндзи Ито</h2>
        <p>Проект выполнил студент московского политеха 3 курса Куценко Игорь</p>

    </section>
    <section>
        <h2>Контактная информация</h2>
        <dl class="alt">
            <dt>Адрес</dt>
            <dd>Автозаводская</dd>
            <dt>Телефон</dt>
            <dd>0-000-000-00-00</dd>
            <dt>Email</dt>
            <dd><a href="#">information@mail.ru</a></dd>
        </dl>

    </section>

</footer>