<nav id="nav">
    <ul>
        <!--<li><a href="lg"><img src = ""></a></li>-->
        <li><a href="/" class="active">Главная страница</a></li>
        <li><a href="/product">все товары</a></li>
        <li><a href="/product/manga">манга</a></li>
        <li><a href="/product/merch">одежда и мерч</a></li>
        <li><a href="/article">статьи</a></li>
        <li><a href="/authorization">авторизация</a></li>
        <li><a href="#footer">контакты</a></li>
    </ul>
</nav>