<nav id="nav">
    <ul>
        <!--<li><a href="lg"><img src = ""></a></li>-->
        <li><a href="#" class="active">Главная страница</a></li>
        <li><a href="#">купить </a></li>
        <li><a href="#">интересности</a></li>
        <li><a href="#">одежда и мерч</a></li>
        <li><a href="#">регистрация</a></li>
        <li><a href="#footer">контакты</a></li>
    </ul>
</nav>