<script>
//    function getCookie(name) {
  //let cookieArr = document.cookie.split("; ");
  //for(let i = 0; i &lt; cookieArr.length; i++) {
    //let cookiePair = cookieArr[i].split("=");
    //if (name == cookiePair[0]) {
      //return cookiePair[1];
    //}
  //}
  //return null;
//} 
function getCookie(name) {
  let cookie = document.cookie.split('; ').find(row => row.startsWith(name + '='));
  return cookie ? cookie.split('=')[1] : null;
}
</script>

<nav id="nav">
    <ul>
        <li><a href="/" class="active">Главная страница</a></li>
        <li><a href="/product">все товары</a></li>
        <li><a href="/product/manga">манга</a></li>
        <li><a href="/product/merch">одежда и мерч</a></li>
        <li><a href="/post">статьи</a></li>
        <script>
            if(getCookie("id")){
                const ID = getCookie("id") 
                //alert(ID)
                document.write("<li><a id='profile' href=''>профиль</a></li>")
                document.getElementById("profile").href = `user/${ID}`

            } else{
                document.write('<li><a href="/authorization">авторизация</a></li>')
            }
        </script>
        <li><a href="#footer">контакты</a></li>
    </ul>
</nav>