<!DOCTYPE html>
<html>

<head>
    {{> title}}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{> linkCss}}
            <style>
                .frm{
		padding-top:5%;
		padding-bottom:5%;
		margin-left: 35%;
	}
            </style>
</head>

<body class="is-preload">
    <div id="wrapper">
        {{> header}}
            {{> menu}}
                <div id="main">
                    <form method="post" class="frm">
                        {{!-- <div class="row gtr-uniform"> --}}
                            
                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="email" name="email" placeholder="email" /></li>
                                </ul>
                               
                            </div>

                            <div class="col-12">
                                 <ul class="actions">
                                    <li><input type="text" name="password"  placeholder="пароль" /></li>
                                 </ul>
                                
                            </div>  
                    
                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="submit" value="войти" class="primary" style="background-color:limegreen"/></li>
                                    {{!-- <li><a href="/registration" class="button" style="background-color:rgb(106, 136, 235)">зарегистрироваться</a></li> --}}
                                </ul>
                            </div>

                             <div class="col-12">
                                <a href="/registration" style="color:rgb(62, 101, 228)">нет аккаунта?</a>
                             </div>
                             
                        {{!-- </div> --}}
                    </form>
                    {{#if errVal}}
                        <div style="background-color: rgb(151, 58, 58); text-align:center; color:black">{{err}}</div>
                    {{/if}}

                </div>
                {{> footer}}
    </div>
    {{> script}}
</body>

</html>