<!DOCTYPE html>
<html lang="en">

<head>
    {{> title}}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{> linkCss}}
            <style>
                .frm {
                    padding-top: 5%;
                    padding-bottom: 5%;
                    margin-left: 35%;
                }
            </style>
</head>

<body class="is-preload">
    <div id="wrapper">
        {{> header}}
            {{> menu}}
                <div id="main">
                    <form method="post" action="user-data" class="frm">
                        <div class="row gtr-uniform">
                            <div class="col-6 col-12-xsmall">
                                <input type="email" name="email" placeholder=" Ваш email" />
                            </div> <br>
                            <div class="col-6 col-12-xsmall">
                                <input type="text" name="nick" placeholder="Придумайте ник" />
                            </div> <br />
                            <div class="col-6 col-12-xsmall">
                                <input type="text" name="password" placeholder="Придумайте пароль" />
                            </div>

                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="submit" value="зарегистрироваться" class="button" style="background-color:limegreen"></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                {{> footer}}
    </div>
    {{> script}}
</body>

</html>