<!DOCTYPE html>
<html lang="en">

<head>
    {{> title}}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{> linkCss}}
            <style>
                .frm {
                    padding-top: 5%;
                    padding-bottom: 5%;
                    margin-left: 35%;
                }
            </style>
</head>

<body class="is-preload">
    <div id="wrapper">
        {{> header}}
            {{> menu}}
                <div id="main">
                    <form method="post" action="/registration" class="frm">
                        {{!-- <div class="row gtr-uniform"> --}}

                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="email" name="email" placeholder="Email" /></li>
                                </ul>
                            </div>

                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="text" name="name" placeholder="Имя" /></li>
                                </ul>
                            </div>

                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="text" name="password" placeholder="Пароль" /></li>
                                </ul>
                            </div>

                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="submit" value="зарегистрироваться" class="button" style="background-color:limegreen"></li>
                                </ul>
                            </div>
                        {{!-- </div> --}}
                    </form>
                    {{#if errVal}}
                        {{#each err}}
                    <div style="background-color: rgb(255, 0, 0);">{{msg}}</div>
                        {{/each}}
                    {{/if}}
                    {{#if userExists}}
                        <div style="background-color: rgb(255, 0, 0);">{{userErr}}</div>
                    {{/if}}
                </div>
                {{> footer}}
    </div>
    {{> script}}
</body>

</html>